html, body {
  min-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  background-color: #ffee32;
  margin: 0;
  /* position: relative; */
  overflow: hidden;
}

.container {  
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  height: max(100vh, 100%);
}

img {
  max-width: 100%;
}

.logo-container {
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (min-width: 426px) { 
  .logo-container {
    margin: -50px auto 0px;
  }
}

@media only screen and (min-width: 700px) { 
  .logo-container {
    margin: -100px auto 0px;
  }
}

@media only screen and (min-width: 1200px) { 
  .logo-container {
    margin: -120px auto 0px;
  }
}



.logo-img {
  /* transform: translateY(60vh)
            skew(-80deg)
            rotateX(90deg); */
  transform: rotateX(90deg);
  transform-origin: bottom;
  animation: up 50ms linear forwards 2250ms;
  
}

/* Animation logo */
@keyframes up {
  100% {
    transform: none;
  }
}

.girl-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.girl {
  transform: scale(4) translate(-5%, -5%);
  animation: jump 1500ms linear forwards 12ms, 
             face 50ms linear forwards 1520ms,
             ride 300ms ease-in forwards 2000ms;
}

/* Animation girl */

@keyframes jump {
  100% {
    transform: scale(4) translate(-5.5%, -5.5%);
  }
}

@keyframes face {
  100% {
    transform: scale(4) translate(20%, 45%);
  }
}

@keyframes ride {
  100% {
    transform: scale(4) translate(-100%, 45%);
  }
}


 @media only screen and (min-width: 426px) { 
  .girl {
    transform: scale(4) translate(-5%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(4) translate(-5.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(4) translate(20%, 45%);
    }
  }
}



 @media only screen and (min-width: 800px) { 
  .girl {
    transform: scale(4) translate(5%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(4) translate(4.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(4) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1100px) { 
  .girl {
    transform: scale(5) translate(5%, -25%);
  }
  
  @keyframes jump {
    100% {
      transform: scale(5) translate(4.5%, -25.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(5) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1200px) { 
  .girl {
    transform: scale(7) translate(5%, -25%);
  }

  @keyframes jump {
    100% {
      transform: scale(7) translate(4.5%, -25.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(7) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1450px) { 
  .girl {
    transform: scale(7) translate(10%, -30%);
  }

  @keyframes jump {
    100% {
      transform: scale(7) translate(9.5%, -30.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(7) translate(40%, 42%);
    }
  }
}

 @media only screen and (min-width: 2500px) { 
  .girl {
    transform: scale(8) translate(15%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(8) translate(14.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(8) translate(40%, 45%);
    }
  }
}

.group {
  transform: scale(2) translate(80%, 55%);
  z-index: 5;
  animation: rideGroup 500ms ease-in forwards 3000ms;
}

/* animation group */
@keyframes rideGroup {
  100% {
    transform: scale(2) translate(-100%, 55%);
  }
}

.text-container {
  margin: 0 auto;
  position: relative;
  z-index: -1;
  width: 150%;
}

.text-container::before {
  content: "";
  position: absolute;
  background-color: #ffee32;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  animation: reveal 200ms linear forwards 3250ms;
}

@keyframes reveal {
  100% {
    transform: scaleX(0);
  }
}



.text-img {
  
}
















/* body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bike-girl-web.svg"), url("cyclists_silhouet.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 380%, 280%;
  background-position: 45% 80%, left -90% top 80%;
  animation:  MjumpFirst 850ms linear forwards,
              Mview 60ms linear forwards 850ms,
              Mjump 1200ms linear forwards 900ms,
              /* Msmall 20ms linear forwards 2100ms, */
              /* Mride 400ms ease-in forwards 2300ms,
              MrideGroup 700ms ease-in forwards 3900ms; */
} */

/* @media (min-width: 426px) {
  body::after {
    background-size: 280%, 80%;
    background-position: 70% 90%, right -450% top 80%;
    animation:  jumpFirst 850ms linear forwards,
                view 50ms linear forwards 850ms,
                jump 1200ms linear forwards 900ms,
                small 20ms linear forwards 2100ms,
                ride 200ms ease-in forwards 2200ms,
                rideGroup 700ms ease-in forwards 3900ms;
  }
} */

/* on mobile */
/* @keyframes MjumpFirst {
  100% {
    background-position: 46% 81%, left -90% top 80%;
  }
}

@keyframes Mview {
  100% {
    background-position: 15% -35%, left -90% top 80%;
  }  
}

@keyframes Mjump {
  100% {
    background-position: 16% -34%, left -90% top 80%;
  }
}

@keyframes Msmall {
  
  100% {
    background-position: left 100% top 80%, left -90% top 80%;
    background-size: 100%, 100%;
    
  }  
}

@keyframes Mride {
  100% {
    background-position: left 150% top 80%, left -90% top 80%;
    
  }  
}

@keyframes MrideGroup {
  100% {
    background-position: left 150% top 80%, left 190% top 80%;
  }  
}
 */

/* end on mobile */


/* @keyframes jumpFirst {
  100% {
    background-position: 70.5% 90.5%, right -450% top 80%;
  }
}

@keyframes view {
  100% {
    background-position: 18% 3%, right -450% top 80%;
  }  
}

@keyframes jump {
  100% {
    background-position: 26% 5%, right -450% top 80%;
  }
}

@keyframes small {
  100% {
    background-position: 90% 70%, right -450% top 80%;
    background-size: 40%, 80%;
    
  }  
}

@keyframes ride {
  100% {
    background-position: -100% 60%, right -450% top 80%;
  }  
}

@keyframes rideGroup {
  100% {
    background-position: -100% 60%, left -450% top 80%;
  }  
}



.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 900px) 1fr;
  grid-gap: 20vh 10px;
}

.logo-container {
  grid-column: 2 / -2;
  display: flex;
  margin-top: 5vh;

  position: relative;
  max-width: 100%;
  transform: translateY(77vh)
            skew(-80deg)
            rotateX(80deg);
  opacity: 0;
  animation: up 300ms ease-in forwards 2400ms,
             opacity 1ms linear forwards 2450ms;
}



@media (min-width: 426px) {
  .logo-container {
    animation: opacity 1ms linear forwards 2600ms,
              up 300ms ease-in forwards 2900ms;
  }




  .logo-container::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffee32;
    animation: appear 400ms ease-in forwards 2200ms;  
  }
}


img {
  
}

.logo-img {
  flex: 1;
  max-width: 100%;
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}

@keyframes up {
  100% {
    transform: none;
  }
}

@keyframes appear {
  100% {
    width: 0%;
  }
} */

/* .text-container {
  /* grid-column: 2 / -2;   */
  /* position: absolute;
  left: -10vw;
  bottom: 30vh; */
  /* display: flex; */
  /* transform: rotateX(90deg);
  animation: show 500ms linear forwards 4800ms; 
} */ */

/* @keyframes show {
  100% {
    transform: rotateX(0deg);
  }
} */

/* .text-img {
  /* flex: 1; */
  /* opacity: 0.95;
  width: 200%;
} */ */

/* @media (min-width: 426px) {
  .text-container {
    bottom: 0;
    left: 0;
  }

  .text-img {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .text-container {
    /* position: static;
    grid-column: 2 / -2; */
    /* bottom: 10vh;
    left: 10vw;
  }
} */ */

/* @media (min-width: 1725px) {
  .text-container {
    /* position: static;
    grid-column: 2 / -2; */
    /* bottom: 10vh;
    left: 20vw;
  }
}

@media (min-width: 2000px) {
  .text-container {
    bottom: 20vh;
    left: 30vw;
  }
} */ */