html, body, .container {
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
}

body {
  background-color: #ffee32;
  margin: 0;
}

.container {  
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: max(100vh, 100%);
  display: flex;
  flex-direction: column;
}

img:not(.girl) {
  max-width: 100%;
}

.logo-container {
  max-width: 900px;
  margin: 0 auto;
}

.logo-img {
  transform: rotateX(90deg);
  transform-origin: bottom;
  animation: up 50ms linear forwards 2250ms;  
}

/* Animation logo */
@keyframes up {
  100% {
    transform: none;
  }
}

.girl-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.girl {
  width: 80rem;
  transform: translate(-40%, -40%);
  animation: jump 1500ms linear forwards 12ms, 
             face 50ms linear forwards 1520ms,
             ride 300ms ease-in forwards 2000ms;
}

/* Animation girl */

@keyframes jump {
  100% {
    transform: translate(-40.5%, -40.5%);
  }
}

@keyframes face {
  100% {
    transform: translate(-15%, 8%);
  }
}

@keyframes ride {
  100% {
    transform: translate(-100%, 8%);
  }
}


@media only screen and (min-width: 426px) { 
  .girl {
    transform: translate(-35%, -40%);
  }

  @keyframes jump {
    100% {
      transform: translate(-35.5%, -40.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: translate(-10%, 8%);
    }
  }
}


@media only screen and (min-width: 800px) { 
  .girl {
    width: 120rem;
    transform: translate(-35%, -50%)
  }

  @keyframes jump {
    100% {
      transform: translate(-35.5%, -50.5%);
    }
  }  
}


 @media only screen and (min-width: 1100px) { 
  .girl {
    transform: translate(-25%, -50%);
    width: 130rem;
  }
  
  @keyframes jump {
    100% {
      transform: translate(-25.5%, -50.5%)
    }
  }
    
  @keyframes face { 
    100% {
      transform: translate(-5%, 5%);
    }
  }
  
  @keyframes ride {
    100% {
      transform: translate(-100%, 5%);
    }
  }
}


 @media only screen and (min-width: 1450px) { 
  .girl {
    transform: translate(-30%, -50%);
    width: 160rem;
  }

  @keyframes jump {
    100% {
      transform: translate(-30.5%, -50.5%);
    }
  }

  @keyframes face { 
    100% {
      transform: translate(-5%, 0%);
    }
  }
  
  @keyframes ride {
    100% {
      transform: translate(-100%, 0%);
    }
  }
}

 @media only screen and (min-width: 1700px) { 
  .girl {
    width: 170rem;
  }

  @keyframes face { 
    100% {
      transform: translate(-5%, 5%);
    }
  } 

  @keyframes ride {
    100% {
      transform: translate(-100%, 5%);
    }
  }
}


 @media only screen and (min-width: 2500px) { 
  .girl {
    transform: translate(-20%, -50%);
    width: 200rem;
  }

   @keyframes jump { 
    100% {
      transform: translate(-20.5%, -50.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: translate(5%, 5%);
    }
  } 
} 


.text-container {
  margin: auto auto 20vh;
  position: relative;
  z-index: -1;
  width: 150%;
}

@media only screen and (min-width: 1100px) {
  .text-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.text-container::before {
  content: "";
  position: absolute;
  background-color: #ffee32;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  animation: reveal 250ms ease-in forwards 3300ms;
}

@keyframes reveal {
  100% {
    transform: scaleX(0);
  }
}



.group-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  
}

.group {
  transform: translateX(100%);
  animation: rideGroup 500ms ease-in forwards 3000ms; 
}

/* animation group */
@keyframes rideGroup {
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1100px) {
  .group {
    transform: translateX(100vw);

  }

  @keyframes rideGroup {
    100% {
      transform: translateX(-100vw);
    }
  }