html, body, .container {
  min-width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
}

body {
  background-color: #ffee32;
  margin: 0;
}

.container {  
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: max(100vh, 100%);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.logo-container {
  max-width: 900px;
  margin: 0 auto;
}

.logo-img {
  transform: rotateX(90deg);
  transform-origin: bottom;
  animation: up 50ms linear forwards 2250ms;  
}

/* Animation logo */
@keyframes up {
  100% {
    transform: none;
  }
}

.girl-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.girl {
  transform: scale(4) translate(-5%, -5%);
  animation: jump 1500ms linear forwards 12ms, 
             face 50ms linear forwards 1520ms,
             ride 300ms ease-in forwards 2000ms;
}

/* Animation girl */

@keyframes jump {
  100% {
    transform: scale(4) translate(-5.5%, -5.5%);
  }
}

@keyframes face {
  100% {
    transform: scale(4) translate(20%, 45%);
  }
}

@keyframes ride {
  100% {
    transform: scale(4) translate(-100%, 45%);
  }
}


 @media only screen and (min-width: 426px) { 
  .girl {
    transform: scale(4) translate(-5%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(4) translate(-5.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(4) translate(20%, 45%);
    }
  }
}



 @media only screen and (min-width: 800px) { 
  .girl {
    transform: scale(4) translate(5%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(4) translate(4.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(4) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1100px) { 
  .girl {
    transform: scale(5) translate(5%, -25%);
  }
  
  @keyframes jump {
    100% {
      transform: scale(5) translate(4.5%, -25.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(5) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1200px) { 
  .girl {
    transform: scale(7) translate(5%, -25%);
  }

  @keyframes jump {
    100% {
      transform: scale(7) translate(4.5%, -25.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(7) translate(30%, 45%);
    }
  }
}



 @media only screen and (min-width: 1450px) { 
  .girl {
    transform: scale(7) translate(10%, -30%);
  }

  @keyframes jump {
    100% {
      transform: scale(7) translate(9.5%, -30.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(7) translate(40%, 42%);
    }
  }
}

 @media only screen and (min-width: 2500px) { 
  .girl {
    transform: scale(8) translate(15%, -20%);
  }

  @keyframes jump {
    100% {
      transform: scale(8) translate(14.5%, -20.5%);
    }
  }
  
  @keyframes face {
    100% {
      transform: scale(8) translate(40%, 45%);
    }
  }
}

.group-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  
}

.group {
  transform: translateX(100%);
  animation: rideGroup 500ms linear forwards 3000ms; 
}

/* animation group */
@keyframes rideGroup {
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 1100px) {
  .group {
    transform: translateX(150%);
  }

  @keyframes rideGroup {
    100% {
      transform: translateX(-150%)
    }
  }
}

.text-container {
  margin: auto auto 20vh;
  position: relative;
  z-index: -1;
  width: 150%;
}

@media only screen and (min-width: 1100px) {
  .text-container {
    width: 100%;
  }
}

.text-container::before {
  content: "";
  position: absolute;
  background-color: #ffee32;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  animation: reveal 150ms linear forwards 3250ms;
}

@keyframes reveal {
  100% {
    transform: scaleX(0);
  }
}